*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main-header{
    position: relative;
    background: url(../img/goku_figures.jpg);
    background-size: cover; /* Ocupa todo el tamaño de la pantalla la imagen */
    
    text-align: center;
}

.main-footer{
    background-color: #ff8906;
    text-align: center;
    padding: 5px;
}



h1{
    color: white;
}


body{
    background-color: #000000;
}

/* Estilo del AppBar */
.main-header {
    background-color: #0f0e17;
}

/* Contenedor principal de la barra */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Estilos de navegación (Inicio, Categorías, Contacto) */
.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Contenedor del logo */
.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    height: 150px;
}

/* Contenedor de los iconos (Carrito y Login) */
.icon-container {
    display: flex;
    gap: 10px;
}


